
@Styles.Render("~/Content/Login")
<div id="card" class="card">
    <span id="title" class="title">Login</span>
    <form class="formlogin" id="formlogin" action="login" method="post">
        <input type="text" placeholder="Username" id="user_name" required>
        <input type="password" placeholder="Password" id="password_name" required>
        <button type="submit" id="buttonlogin" class="buttonlogin">Login</button>
    </form>
</div>