
@Styles.Render("~/Content/Login")
<div id="card" class="card">
    <span id="title" class="title">Login</span>
    <form class="formlogin" id="formlogin" action="login">
        <input type="text" placeholder="Username" id="usernameinput" required>
        <input type="password" placeholder="Password" id="passwordinput" required>
        <button id="buttonlogin" class="buttonlogin" onclick="Login()">Login</button>
    </form>
</div>