<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
@{
    ViewBag.Title = "Hệ thống bỏ phiếu, bình chọn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /> <br /> <br /> <br /> <br />
<div class="text-center">
    <h1>Chào mừng các bạn đã đến với Hệ thống bỏ phiếu kín</h1>
</div>
<canvas id="canvas">???</canvas>
<script type="text/javascript" src="~/Assets/dist/js/script.js"></script>